[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-docx = "==0.8.11"
pandas = "==1.3.3"
openpyxl = "==3.0.9"
xfilios = {editable = true, path = "."}

[dev-packages]
mypy = "==0.910"
flake8 = "==3.9.2"
isort = "==5.9.3"
black = "*"
pytest = "*"
pre-commit = "*"
twine = "*"
streamlit = "*"
watchdog = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
